<form class="drink-config-form">
    <mat-form-field>
        <mat-label>Image Url</mat-label>
        <input matInput placeholder="Image Url" [value]="drink.imageUrl">
    </mat-form-field>
    <mat-form-field>
        <mat-label>Drink Name</mat-label>
        <input matInput placeholder="Drink Name" [value]="drink.name">
    </mat-form-field>
    <mat-form-field>
        <mat-label>Description</mat-label>
        <textarea matInput placeholder="Ex. What's the overall taste? How strong is it?..." [value]="drink.description"></textarea>
    </mat-form-field>
    <mat-form-field>
        <mat-label>Ingredients</mat-label>
        <input matInput placeholder="Ingredient Chips or Something">
    </mat-form-field>
    <mat-form-field>
        <mat-label>Star Rating</mat-label>
        <input matInput type="number" placeholder="Star Rating" [value]="drink.starRating">
    </mat-form-field>
    <button type="button" mat-flat-button color="accent" class="save-button" (click)="closeDialog()">Save</button>
</form>
