<mat-card class="drink-container">
    <button mat-mini-fab class="delete-button" (click)="deleteDrinkClicked()">
        <mat-icon>delete</mat-icon>
    </button>
    <img class="drink-preview" alt="Drink preview image" [src]="drink.imageUrl"/>
    <div class="drink-info-container">
        <h2 class="drink-name">{{drink.name}}</h2>
        <div class="drink-footer-container">
            <span>{{drink.ingredientMeasurements.length}} ingredient{{drink.ingredientMeasurements.length > 1 ? 's' : ''}}</span>
            <span>{{drink.starRating}} star{{drink.starRating > 1 ? 's' : ''}}</span>
        </div>
        <p class="description">{{drink.description}}</p>
        <div class="buttons-container">
            <button mat-flat-button (click)="openDrinkConfig()">Configure</button>
            <button mat-raised-button color="primary" (click)="requestSubmitDrinkForProcessing()">Make It!</button>
        </div>
    </div>
</mat-card>
