<mat-card class="drink-container">
    <button mat-mini-fab class="delete-button" (click)="deleteDrinkClicked()">
        <mat-icon>delete</mat-icon>
    </button>
    <div class="drink-info-container" (click)="openDrinkConfig()">
        <img class="drink-preview" alt="Drink preview image" [src]="drink.imageUrl"/>
        <span>{{drink.name}}</span>
        <p class="description">{{drink.description}}</p>
        <div class="drink-footer-container">
            <span>{{ingredientNames.length}} ingredient{{ingredientNames.length > 1 ? 's' : ''}}</span>
            <span>{{drink.starRating}} star{{drink.starRating > 1 ? 's' : ''}}</span>
        </div>
    </div>
</mat-card>
