.ingredient-info-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.ingredient-container {
    min-width: 200px;
}

.delete-button {
    position: absolute;
    top: 5px;
    right: 5px;
}

.ingredient-container .delete-button{
    visibility: hidden;
}

.ingredient-container:hover .delete-button{
    visibility: visible;
}

.buttons-container {
    display: flex;
    flex-direction: row;
    justify-content: right;
    width: 100%;
}