<div class="app-container">
  <mat-toolbar>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon" (click)="leftSideNav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <span>Drink-O-Matic</span>
  </mat-toolbar>
  <mat-sidenav-container class="side-nav-container">
    <mat-sidenav #leftSideNav class="side-nav">
      <div class="side-nav-slideout-container">
        <button mat-flat-button [routerLink]="'drinks'" (click)="leftSideNav.toggle()">Drinks</button>
        <button mat-flat-button [routerLink]="'pumps'" (click)="leftSideNav.toggle()">Pumps</button>
        <button mat-flat-button [routerLink]="'ingredients'" (click)="leftSideNav.toggle()">Ingredients</button>
      </div>
    </mat-sidenav>
    <mat-sidenav-content class="side-nav-content">
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>